<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @project.index %>
</p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Flat type:</strong>
  <%= @project.flat_type %>
</p>

<p>
  <strong>Version:</strong>
  <%= @project.version %>
</p>

<p>
  <strong>Launch:</strong>
  <%= @project.launch %>
</p>

<%= link_to 'Setup', setup_url(@project) %></td>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
