<h1>Listing launches</h1>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Title</th>
      <th>Version</th>
      <th>Imagepath</th>
      <th>TownProjects</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @launches.each do |launch| %>
      <tr>
      	<td><%= launch.id %></td>
        <td><%= launch.title %></td>
        <td><%= launch.version %></td>
        <td><%= launch.imagePath %></td>
        <td><%= launch.town_projects %></td>
        <td><%= link_to 'Show', launch %></td>
        <td><%= link_to 'Edit', edit_launch_path(launch) %></td>
        <td><%= link_to 'Destroy', launch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Launch', new_launch_path %>
