<h1>Listing units</h1>

<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Title</th>
      <th>Blk</th>
      <th>Price</th>
      <th>Is Taken</th>
      <th>Taken Date</th>
      <th>Project</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td><%= unit.index %></td>
        <td><%= unit.title %></td>
        <td><%= unit.blk %></td>
        <td><%= unit.price %></td>
        <td><%= unit.is_taken %></td>
        <td><%= unit.taken_date %></td>
        <td><%= unit.project %></td>
        <td><%= link_to 'Show', unit %></td>
        <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
        <td><%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unit', new_unit_path %>
